.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: red;
}

.start-button {
  display: inline-block;
  color: #282c34;
  text-align: center;
  width: 70%;
  padding: 20px;
  border: 0px solid black;
  border-radius: 20px;
  font-size: 1.1em;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
}

.setting {
  width: 70%;
}



.timer {
  text-align:center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.timer span {
  display: inline-block;
  margin: 1em;
  font-size: 1.5em;
  font-weight: 700;
}

.pause {
  border: 0.1em solid;
  padding: 1em;
  border-radius: 2em;
}

.round-controls {
  margin-top: 1em;
  font-size: 3em;
  cursor: pointer;
}

.round-controls span{
  margin: 1.2em;
}

.start-round-button {
  font-size: 3em;
  display: inline-block;
  padding: 1em;
  border: solid 0.1em;
  border-radius: 1.8em;
  cursor: pointer;
}

.round-controls span:first-child {
  color: rgba(85, 221, 142, 0.911);
}

.round-controls span:last-child {
  color: rgba(221, 85, 85, 0.911);
}

.word {
  font-size: 2em;
}

.teams {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teams li {
  padding: 10px;
  cursor: pointer;
  width: 50%;
}

.team-input {
  font-size: 20px;
  display: inline-block;
  min-width: 200px;
  width: 20%;
}

.team-add-button {
  font-size: 50px;
  margin-top: 0.4em;
  color: rgba(68, 143, 133, 0.904);
}

.team-add-button:hover {
  color: rgba(7, 178, 190, 0.9);
}


.team-active {
  font-size: 1.5em;
  border-bottom: 10px solid;
  padding: 0.3em;
}

.team-score {
  display: inline-block;
  border: 10px solid;
  padding: 0.5em;
  border-radius: 55%;
  font-size: 1.2em;
  margin-left: 0.5em;
}

.team-platform {
  margin: 1em;
}

.start-game-button {
  display: inline-block;
  font-size: 30px;
  padding: 10px 30px;
  margin-top: 50px;
  border-radius: 40px;
  cursor: pointer;
  border: 0px solid;
  background-color: white;
}

.start-button:hover, .menu-button:hover, .start-game-button:hover, .start-round-button:hover {
  background-color: rgba(255, 27, 27, 0.918);
  color: white;
}
.menu-button {
  display: inline-block;
  color: #282c34;
  text-align: center;
  width: 100%;
  padding: 5%;
  margin: 7px;
  border: 0px solid black;
  border-radius: 20px;
  font-size: 0.9em;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
}

.results {
    display: flex;
    justify-content: space-between;
}

.red {
  color: rgba(221, 85, 85, 0.911);
}

.green {
  color: rgba(85, 221, 142, 0.911);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
